 $color1:  rgba( 255, 255, 255, 0.4);
 $color2: rgba( 255, 255, 255, 0.3);

 

 .Container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    $color1,
    $color2
    
  ),  
  url("https://img2.goodfon.com/wallpaper/nbig/6/a1/krupnym-planom-noutbuk-klaviatura-globus-laptop-kompiuter-sv.jpg") center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
 }